<!DOCTYPE html>
<!--
Author: Keenthemes
Product Name: Metronic - Bootstrap 5 HTML, VueJS, React, Angular & Laravel Admin Dashboard Theme
Purchase: https://1.envato.market/EA4JP
Website: http://www.keenthemes.com
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
License: For each use you must have a valid license purchased only from above link in order to legally use the theme for your project.
-->
<html direction="rtl" dir="rtl" style="direction: rtl">
<!--begin::Head-->

<head>
	<base href="">
	<title>فريق معاً الإغاثي</title>
	<meta charset="utf-8" />
	<meta id="meta-keywords" name="keywords" content="togather
		rescue
		فريق 
		معاً الإغاثي" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta property="og:locale" content="en_US" />
	<meta property="og:type" content="article" />
	<meta property="og:title"
		content="Metronic - Bootstrap 5 HTML, VueJS, React, Angular &amp; Laravel Admin Dashboard Theme" />
	<meta property="og:url" content="https://keenthemes.com/metronic" />
	<meta property="og:site_name" content="Keenthemes | Metronic" />
	<link rel="canonical" href="https://preview.keenthemes.com/metronic8" />
	<link rel="icon" type="image/x-icon"
		href="/assets/media/logos/logo-main.png" />
	<!--begin::Fonts-->
	<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap"
		rel="stylesheet">
	<!--end::Fonts-->
	<!--begin::Page Vendor Stylesheets(used by this page)-->
	<link href="/assets/plugins/custom/fullcalendar/fullcalendar.bundle.rtl.css" rel="stylesheet" type="text/css" />
	<link href="/assets/plugins/custom/datatables/datatables.bundle.rtl.css" rel="stylesheet" type="text/css" />
	<!--end::Page Vendor Stylesheets-->
	<!--begin::Global Stylesheets Bundle(used by all pages)-->
	<link href="/assets/plugins/global/plugins.bundle.rtl.css" rel="stylesheet" type="text/css" />
	<link href="/assets/css/style.bundle.rtl.css" rel="stylesheet" type="text/css" />
	<!--end::Global Stylesheets Bundle-->
	<script src="/assets/js/myScripts/utils.js"></script>

</head>
<!--end::Head-->
<!--begin::Body-->

<body id="kt_body" class="bg-body">
	<!--begin::Main-->
	<!--begin::Root-->
	<div class="d-flex flex-column flex-root">
		<!--begin::Authentication - Multi-steps-->
		<div class="d-flex flex-column flex-lg-row flex-column-fluid stepper stepper-pills stepper-column"
			id="kt_create_account_stepper">
			<!--begin::Aside-->
			<div class="d-flex flex-column flex-lg-row-auto w-xl-500px bg-lighten shadow-sm">
				<!--begin::Wrapper-->
				<div class="d-flex flex-column position-xl-fixed top-0 bottom-0 w-xl-500px scroll-y" style="background-color: #13263C">
					<!--begin::Header-->
					<div class="d-flex flex-row-fluid flex-column flex-center p-10 pt-lg-20">
						<!--begin::Logo-->
						<a href="/" class="mb-10 mb-lg-20">
							<img alt="Logo" src="/assets/media/logos/logo-main.png" class="h-100px" />
						</a>
						<!--end::Logo-->
						<!--begin::Nav-->
						<div class="stepper-nav">
							<!--begin::Step 1-->
							<div class="stepper-item current" data-kt-stepper-element="nav">
								<!--begin::Line-->
								<div class="stepper-line w-40px"></div>
								<!--end::Line-->
								<!--begin::Icon-->
								<div class="stepper-icon w-40px h-40px">
									<i class="stepper-check fas fa-check"></i>
									<span class="stepper-number">1</span>
								</div>
								<!--end::Icon-->
								<!--begin::Label-->
								<div class="stepper-label">
									<h3 class="stepper-title">سياسة الإستخدام</h3>
									<div class="stepper-desc fw-bold">الموافقة على سياسة الإستخدام</div>
								</div>
								<!--end::Label-->
							</div>
							<!--end::Step 1-->
							<!--begin::Step 2-->
							<div class="stepper-item" data-kt-stepper-element="nav">
								<!--begin::Line-->
								<div class="stepper-line w-40px"></div>
								<!--end::Line-->
								<!--begin::Icon-->
								<div class="stepper-icon w-40px h-40px">
									<i class="stepper-check fas fa-check"></i>
									<span class="stepper-number">2</span>
								</div>
								<!--end::Icon-->
								<!--begin::Label-->
								<div class="stepper-label">
									<h3 class="stepper-title">معلومات الحساب</h3>
									<div class="stepper-desc fw-bold">قم بإعداد بيانات الحساب</div>
								</div>
								<!--end::Label-->
							</div>
							<!--end::Step 2-->
							<!--begin::Step 3-->
							<div class="stepper-item" data-kt-stepper-element="nav">
								<!--begin::Line-->
								<div class="stepper-line w-40px"></div>
								<!--end::Line-->
								<!--begin::Icon-->
								<div class="stepper-icon w-40px h-40px">
									<i class="stepper-check fas fa-check"></i>
									<span class="stepper-number">3</span>
								</div>
								<!--end::Icon-->
								<!--begin::Label-->
								<div class="stepper-label">
									<h3 class="stepper-title">معلومات التطوع</h3>
									<div class="stepper-desc fw-bold">معلومات خاصة بالتطوع</div>
								</div>
								<!--end::Label-->
							</div>
							<!--end::Step 3-->

							<!--begin::Step 5-->
							<div class="stepper-item" data-kt-stepper-element="nav">
								<!--begin::Line-->
								<div class="stepper-line w-40px"></div>
								<!--end::Line-->
								<!--begin::Icon-->
								<div class="stepper-icon w-40px h-40px">
									<i class="stepper-check fas fa-check"></i>
									<span class="stepper-number">4</span>
								</div>
								<!--end::Icon-->
								<!--begin::Label-->
								<div class="stepper-label">
									<h3 class="stepper-title">الإنتهاء</h3>
									<div class="stepper-desc fw-bold">إتمام الطلب</div>
								</div>
								<!--end::Label-->
							</div>
							<!--end::Step 5-->
						</div>
						<!--end::Nav-->
					</div>
					<!--end::Header-->
					
				</div>
				<!--end::Wrapper-->
			</div>
			<!--begin::Aside-->
			<!--begin::Body-->
			<div class="d-flex flex-column flex-lg-row-fluid py-10">
				<!--begin::Content-->
				<div class="d-flex flex-center flex-column flex-column-fluid">
					<!--begin::Wrapper-->
					<div class="w-lg-700px p-10 p-lg-15 mx-auto">
						<!--begin::Form-->
						<form class="my-auto pb-5" novalidate="novalidate" autocomplete="nope"
							id="kt_create_account_form" autocomplete="off">
							<!--begin::Step 1-->
							<div class="current" data-kt-stepper-element="content">
								<!--begin::Wrapper-->
								<div class="w-100">
									<!--begin::Heading-->
									<div class="pb-10 pb-lg-10">
										<!--begin::Title-->
										<h2 class="fw-bolder d-flex align-items-center text-dark">وثيقة تطوع بفريق معاً الإغاثي
											<i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip"
												title="وثيقة تطوع بفريق معاً الإغاثي"></i>
										</h2>
										<!--end::Title-->
									</div>
									<!--end::Heading-->
									<!--begin::Input group-->
									<div class="fv-row">
										<ol>
											<li>
												اوافق على الانضمام لفريق معاً الإغاثي وعدم التحاقي بأي فريق تطوعي مختص
												بالدفع الرباعي وان اخدم ديني ووطني وان امتثل لتعليمات قيادة الفريق وان
												لا اطالب بأي مقابل مادي نظير العمل التطوعي .
											</li>
											<li>فى حالة قررت ان اترك العمل بفريق معاً الإغاثي قبل الموعد المحدد أتعهد
												بإبلاغ ادارة الفريق وتسليم بطاقة الفريق قبل أن أغادر بأسبوعين ( 15 يوم )
												على الأقل .</li>
											<li>أتعهد بأن جميع البيانات المدونة أعلاه هي حقيقية وكاملة. كما أتفهم أنه في
												حالة أي أساءة لفريق معاً الإغاثي فعلاً أو قولاً يمكن أن يؤدي إلى أنهاء
												مهمة تطوعي بالفريق .</li>
											<li> الحضور و الانتظام أثناء عقد الدورات التدريبية . </li>
											<li>تلبية النداء في أسرع وقت .</li>
											<li>التقيد بالأوامر و التعليمات الصادرة إليه و عدم الامتناع عن أداء العمل
												المكلف به أو رفض الاستمرار فيه بغير عذر .</li>
											<li>الالتزام بالصدق و الأمانة و عدم إفشاء الأسرار العمل المكلف به .</li>
											<li> الالتزام بالسلوك و الآداب العامة و احترام الادارة و زملائه المتطوعين .
											</li>
											<li> إشعار الفريق عن أي تغييرات تطرأ على عنوان عمله أو سكنه . </li>
											<li>التطوع لمدة لا تقل عن سنه تجدد حسب رغبة المتطوع . </li>
											<li>المحافظة على العهد المسلمة له من ملابس و معدات و أدوات و استخدامها في
												الغرض المحدد لها مع ضمان إعادتها عند ترك عمله التطوعي أو عدم الانتظام
												فيه و إلا تلحقه المسئولية . </li>
											<li>عدم الإدلاء أو التصريح بأي معلومات صحفيه أو إعلاميه تتعلق بالعمل التطوعي
												بفريق معاً الإغاثي . </li>
											<li>ازالة ملصقات الفريق عند بيع المركبة.</li>

										</ol>
									</div>
									<div class="fv-row m-5 ">
										<!--begin::Switch-->
										<label class="form-check form-switch form-check-custom form-check-solid">
											<input class="form-check-input" name="accept" type="checkbox">
											<span class="form-check-label fw-bold text-muted m-5">أوافق على سياسة
												الإستخدام.</span>
										</label>
										<!--end::Switch-->
									</div>

									<!--end::Input group-->
								</div>
								<!--end::Wrapper-->
							</div>
							<!--end::Step 1-->
							<!--begin::Step 2-->
							<div class="" data-kt-stepper-element="content">
								<!--begin::Wrapper-->
								<div class="w-100">
									<!--begin::Heading-->
									<div class="pb-10 pb-lg-15">
										<!--begin::Title-->
										<h2 class="fw-bolder text-dark">معلومات الحساب</h2>
										<!--end::Title-->
										<!--begin::Notice-->
										<div class="text-muted fw-bold fs-6"> إذا كنت بحاجة إلى مزيد من المعلومات ، يرجى
											مراجعة
											<a href="#" class="link-primary fw-bolder">صفحة المساعدة</a>.
										</div>
										<!--end::Notice-->
									</div>
									<!--end::Heading-->

									<!--begin::Input group-->
									<div class="mb-7 fv-row">
										<!--begin::Label-->
										<label class="form-label mb-3">رقم الهوية الوطنية</label>
										<!--end::Label-->
										<!--begin::Input-->
										<input type="text" class="form-control form-control-lg form-control-solid"
											name="nationalID" placeholder="رقم الهوية الوطنية." value="" />
										<!--end::Input-->
									</div>
									<!--end::Input group-->
									<!--begin::Input group-->
									<div class="mb-7 fv-row">
										<!--begin::Label-->
										<label class="form-label mb-3">الاسم رباعي</label>
										<!--end::Label-->
										<!--begin::Input-->
										<input type="text" class="form-control form-control-lg form-control-solid"
											name="fullName" placeholder="الاسم رباعي." value="" />
										<!--end::Input-->
									</div>
									<!--end::Input group-->
									<!--begin::Input group-->
									<div class="mb-7 fv-row">
										<!--begin::Label-->
										<label class="form-label mb-3">رقم الجوال</label>
										<!--end::Label-->
										<!--begin::Input-->
										<input type="text" class="form-control form-control-lg form-control-solid"
											placeholder="05(6 | 9)xxxxxxx" name="phoneNumber" style="direction: ltr;">
										<!--end::Input-->
									</div>
									<!--end::Input group-->

									<!--begin::Input group-->
									<div class="mb-7 fv-row">
										<!--begin::Label-->
										<label class="form-label mb-3">تاريخ الميلادي</label>
										<!--end::Label-->
										<!--begin::Input-->
										<input name="birthDate" class="form-control form-control-solid"
											placeholder="أختر تاريخ" id="birthDate" />
										<!--end::Input-->
									</div>
									<!--end::Input group-->
									<div class="mb-7 fv-row fv-plugins-icon-container" data-kt-password-meter="true">
										<!--begin::Wrapper-->
										<div class="mb-1">
											<!--begin::Label-->
											<label class="form-label fw-bolder text-dark fs-6">كلمة المرور</label>
											<!--end::Label-->
											<!--begin::Input wrapper-->
											<div class="position-relative mb-3">
												<input class="form-control form-control-lg form-control-solid" value=""
													type="password" placeholder="كلمة المرور." name="password"
													autocomplete="nope">
												<span
													class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2"
													data-kt-password-meter-control="visibility">
													<i class="bi bi-eye-slash fs-2"></i>
													<i class="bi bi-eye fs-2 d-none"></i>
												</span>
											</div>
											<!--end::Input wrapper-->
											<!--begin::Meter-->
											<div class="d-flex align-items-center mb-3"
												data-kt-password-meter-control="highlight">
												<div
													class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2">
												</div>
												<div
													class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2">
												</div>
												<div
													class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2">
												</div>
											</div>
											<!--end::Meter-->
										</div>
										<!--end::Wrapper-->
										<!--begin::Hint-->
										<div class="text-muted">استخدم 8 أحرف أو أكثر مع مزيج من الأحرف والأرقام
											والرموز.</div>

										<!--end::Hint-->
									</div>
								</div>
								<!--end::Wrapper-->
							</div>
							<!--end::Step 2-->
							<!--begin::Step 3-->
							<div class="" data-kt-stepper-element="content">
								<!--begin::Wrapper-->
								<div class="w-100">
									<!--begin::Heading-->
									<div class="pb-10 pb-lg-12">
										<!--begin::Title-->
										<h2 class="fw-bolder text-dark">بيانات التطوع</h2>
										<!--end::Title-->
										<!--begin::Notice-->
										<div class="text-muted fw-bold fs-6"> إذا كنت بحاجة إلى مزيد من المعلومات ، يرجى
											مراجعة
											<a href="#" class="link-primary fw-bolder">صفحة المساعدة</a>.
										</div>
										<!--end::Notice-->
									</div>
									<!--end::Heading-->
									<!--begin::Input group-->
									<div class="mb-7 fv-row">
										<!--begin::Label-->
										<label class="form-label mb-3"> البريد الإلكتروني للتواصل</label>
										<!--end::Label-->
										<!--begin::Input-->
										<input type="email" class="form-control form-control-lg form-control-solid"
											name="email" placeholder="البريد الإلكتروني." value=""
											style="direction: rtl" />
										<!--end::Input-->
									</div>
									<!--end::Input group-->


									<!--begin::Input group-->
									<div class="fv-row mb-7 fv-plugins-icon-container">
										<!--begin::Label-->
										<label class="fs-6 fw-bold mb-2">
											<span class="required">المدينة</span>
										</label>
										<!--end::Label-->
										<!--begin::Input-->
										<select name="city" data-hide-search="true" aria-label="أختر المدينة" data-control="select2"
											data-placeholder="أختر المدينة" 
											class="form-select form-select-solid fw-bolder">
											<option value="0">بيت حانون</option>
											<option value="1">بيت لاهيا</option>
											<option value="2">جباليا</option>
											<option value="3">النصيرات</option>
											<option value="4">دير البلح</option>
											<option value="5">البريج</option>
											<option value="6">المغازي</option>
											<option value="7">خانيونس</option>
											<option value="8">رفح</option>
 
										</select>

										<!--end::Input-->
										<div class="fv-plugins-message-container invalid-feedback"></div>
									</div>
									<!--end::Input group-->


									<!--begin::Input group-->
									<div class="mb-7 fv-row">
										<!--begin::Label-->
										<label class="form-label mb-3">العنوان التفصيلي</label>
										<!--end::Label-->
										<!--begin::Input-->
										<input type="text" class="form-control form-control-lg form-control-solid"
											name="address" placeholder="" value="" />
										<!--end::Input-->
									</div>
									<!--end::Input group-->
								</div>
								<!--end::Wrapper-->
							</div>
							<!--end::Step 3-->

							<!--begin::Step 5-->
							<div class="" data-kt-stepper-element="content">
								<!--begin::Wrapper-->
								<div class="w-100">
									<!--begin::Heading-->
									<div class="pb-8 pb-lg-10">
										<!--begin::Title-->
										<h2 class="fw-bolder text-dark">تم الإنتهاء !</h2>
										<!--end::Title-->
										<!--begin::Notice-->
										<div class="text-muted fw-bold fs-6">لحفظ الطلب أضغط على زر حفظ.</div>
										<!--end::Notice-->
									</div>
									<!--end::Heading-->
									<!--begin::Body-->
									<div class="mb-0">
										<!--begin::Alert-->
										<!--begin::Notice-->
										<div
											class="notice d-flex bg-light-warning rounded border-warning border border-dashed p-6">
											<!--begin::Icon-->
											<!--begin::Svg Icon | path: icons/duotune/general/gen044.svg-->
											<span class="svg-icon svg-icon-2tx svg-icon-warning me-4">
												<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
													viewBox="0 0 24 24" fill="none">
													<rect opacity="0.3" x="2" y="2" width="20" height="20" rx="10"
														fill="black" />
													<rect x="11" y="14" width="7" height="2" rx="1"
														transform="rotate(-90 11 14)" fill="black" />
													<rect x="11" y="17" width="2" height="2" rx="1"
														transform="rotate(-90 11 17)" fill="black" />
												</svg>
											</span>
											<!--end::Svg Icon-->
											<!--end::Icon-->
											<!--begin::Wrapper-->
											<div class="d-flex flex-stack flex-grow-1">
												<!--begin::Content-->
												<div class="fw-bold">
													<h4 class="text-gray-900 fw-bolder">ملاحظة هامة!</h4>
													<div class="fs-6 text-gray-700">بعد حفظ البيانات سيتم رفع الطلب إلى
														الإدارة للموافقة عليه وبعد المعاينة سيتم إرسال حالة الطلب
														وبيانات تسجيل الدخول الى البريد الإلكتروني الخاص بك.
													</div>
												</div>
												<!--end::Content-->
											</div>
											<!--end::Wrapper-->
										</div>
										<!--end::Notice-->
										<!--end::Alert-->
									</div>
									<!--end::Body-->
								</div>
								<!--end::Wrapper-->
							</div>
							<!--end::Step 5-->
							<!--begin::Actions-->
							<div class="d-flex flex-stack pt-15">
								<div class="mr-2">
									<button type="button" class="btn btn-lg btn-light-primary me-3"
										data-kt-stepper-action="previous">
										<!--begin::Svg Icon | path: icons/duotune/arrows/arr064.svg-->
										<span class="svg-icon svg-icon-4 ms-1">
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
												viewBox="0 0 24 24" fill="none">
												<rect opacity="0.5" x="18" y="13" width="13" height="2" rx="1"
													transform="rotate(-180 18 13)" fill="black" />
												<path
													d="M15.4343 12.5657L11.25 16.75C10.8358 17.1642 10.8358 17.8358 11.25 18.25C11.6642 18.6642 12.3358 18.6642 12.75 18.25L18.2929 12.7071C18.6834 12.3166 18.6834 11.6834 18.2929 11.2929L12.75 5.75C12.3358 5.33579 11.6642 5.33579 11.25 5.75C10.8358 6.16421 10.8358 6.83579 11.25 7.25L15.4343 11.4343C15.7467 11.7467 15.7467 12.2533 15.4343 12.5657Z"
													fill="black" />
											</svg>
										</span>
										<!--end::Svg Icon-->

										السابق
									</button>
								</div>
								<div>
									<button type="button" class="btn btn-lg btn-primary"
										data-kt-stepper-action="submit">
										<span class="indicator-label">حفظ
											<!--begin::Svg Icon | path: icons/duotune/arrows/arr064.svg-->
											<!--begin::Svg Icon | path: icons/duotune/arrows/arr063.svg-->
											<span class="svg-icon svg-icon-4 me-1">
												<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
													viewBox="0 0 24 24" fill="none">
													<polygon points="0 0 24 0 24 24 0 24" />
													<path
														d="M17,4 L6,4 C4.79111111,4 4,4.7 4,6 L4,18 C4,19.3 4.79111111,20 6,20 L18,20 C19.2,20 20,19.3 20,18 L20,7.20710678 C20,7.07449854 19.9473216,6.94732158 19.8535534,6.85355339 L17,4 Z M17,11 L7,11 L7,4 L17,4 L17,11 Z"
														fill="#000000" fill-rule="nonzero" />
													<rect fill="#000000" opacity="0.3" x="12" y="4" width="3" height="5"
														rx="0.5" />
												</svg>
											</span>
											<!--end::Svg Icon-->
										</span>
										<span class="indicator-progress">الرجاء الإنتظار ...
											<span
												class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
									</button>
									<button type="button" class="btn btn-lg btn-primary"
										data-kt-stepper-action="next">الإستمرار
										<!--begin::Svg Icon | path: icons/duotune/arrows/arr063.svg-->
										<span class="svg-icon svg-icon-4 me-1">
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
												viewBox="0 0 24 24" fill="none">
												<rect opacity="0.5" x="6" y="11" width="13" height="2" rx="1"
													fill="black" />
												<path
													d="M8.56569 11.4343L12.75 7.25C13.1642 6.83579 13.1642 6.16421 12.75 5.75C12.3358 5.33579 11.6642 5.33579 11.25 5.75L5.70711 11.2929C5.31658 11.6834 5.31658 12.3166 5.70711 12.7071L11.25 18.25C11.6642 18.6642 12.3358 18.6642 12.75 18.25C13.1642 17.8358 13.1642 17.1642 12.75 16.75L8.56569 12.5657C8.25327 12.2533 8.25327 11.7467 8.56569 11.4343Z"
													fill="black" />
											</svg>
										</span>
										<!--end::Svg Icon-->

									</button>
								</div>
							</div>
							<!--end::Actions-->
						</form>
						<!--end::Form-->
					</div>
					<!--end::Wrapper-->
				</div>
				<!--end::Content-->
				<!--begin::Footer-->
				<div class="d-flex flex-center flex-wrap fs-6 p-5 pb-0">
					<!--begin::Links-->
					<div class="d-flex flex-center fw-bold fs-6">
						<a href="/#how-it-works" class="text-muted text-hover-primary px-2" target="_blank">عن الفريق</a>
					</div>
					<!--end::Links-->
				</div>
				<!--end::Footer-->
			</div>
			<!--end::Body-->
		</div>
		<!--end::Authentication - Multi-steps-->
	</div>
	<!--end::Root-->
	<!--end::Main-->
	<!--begin::Javascript-->
	<script>
		var hostUrl = "/assets/";
	</script>
	<!--begin::Global Javascript Bundle(used by all pages)-->
	<script src="/assets/plugins/global/plugins.bundle.js"></script>
	<script src="/assets/js/scripts.bundle.js"></script>
	<!--end::Global Javascript Bundle-->
	<!--begin::Page Custom Javascript(used by this page)-->
	<script src="/assets/js/myScripts/auth/sign-up.js"></script>
	<!--end::Page Custom Javascript-->
	<!--end::Javascript-->
</body>
<!--end::Body-->

</html>