<html direction="rtl" dir="rtl" style="direction: rtl">
<!--begin::Head-->

<head>
	<base href="">
	<title>فريق معاً الإغاثي</title>
	<meta charset="utf-8" />
	<meta id="meta-keywords" name="keywords" content="togather
		rescue
		فريق 
		معاً الإغاثي" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta property="og:locale" content="en_US" />
	<meta property="og:type" content="article" />
	<meta property="og:title"
		content="Metronic - Bootstrap 5 HTML, VueJS, React, Angular &amp; Laravel Admin Dashboard Theme" />
	<meta property="og:url" content="https://keenthemes.com/metronic" />
	<meta property="og:site_name" content="Keenthemes | Metronic" />
	<link rel="canonical" href="https://preview.keenthemes.com/metronic8" />
	<link rel="icon" type="image/x-icon"
		href="/assets/media/logos/logo-main.png" />
	<!--begin::Fonts-->
	<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap"
		rel="stylesheet">
	<!--end::Fonts-->
	<!--begin::Page Vendor Stylesheets(used by this page)-->
	<link href="/assets/plugins/custom/fullcalendar/fullcalendar.bundle.rtl.css" rel="stylesheet" type="text/css" />
	<link href="/assets/plugins/custom/datatables/datatables.bundle.rtl.css" rel="stylesheet" type="text/css" />
	<!--end::Page Vendor Stylesheets-->
	<!--begin::Global Stylesheets Bundle(used by all pages)-->
	<link href="/assets/plugins/global/plugins.bundle.rtl.css" rel="stylesheet" type="text/css" />
	<link href="/assets/css/style.bundle.rtl.css" rel="stylesheet" type="text/css" />
	<!--end::Global Stylesheets Bundle-->
	<script src="/assets/js/myScripts/utils.js"></script>
	<link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet" />
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet" />
    

</head>
<!--end::Head-->
<!--begin::Body-->
<!--begin::Body-->

<body id="kt_body" class="bg-body">
	<!--begin::Main-->
	<div class="d-flex flex-column flex-root">
		<!--begin::Authentication - Sign-in -->
		<div class="d-flex flex-column flex-lg-row flex-column-fluid">
			<!--begin::Aside-->
			<div class="d-flex flex-column flex-lg-row-auto w-xl-600px positon-xl-relative" style="background-color: #13263C">
				<!--begin::Wrapper-->
				<div class="d-flex flex-column position-xl-fixed top-0 bottom-0 w-xl-600px scroll-y">
					<!--begin::Content-->
					<div class="d-flex flex-row-fluid flex-column text-center p-10 pt-lg-20">
						<!--begin::Logo-->
						<a href="/" class="py-9 ">
							<img alt="Logo" src="/assets/media/logos/logo-main.png" class="h-200px" />
						</a>
						<!--end::Logo-->
						<!--begin::Title-->
						<h1 class="fw-bolder fs-2qx pb-3 pb-md-10" style="color: #ffffff;">مرحباً بك في فريق معاً الإغاثي
						</h1>
						<!--end::Title-->
					</div>
					<!--end::Content-->

				</div>
				<!--end::Wrapper-->
			</div>
			<!--end::Aside-->
			<!--begin::Body-->
			<div class="d-flex flex-column flex-lg-row-fluid py-10">

				<div class="content flex-row-fluid" id="kt_content">
					<!--begin::Card-->
					<div class="card">
						<!--begin::Card body-->
						<div class="card-body p-0">
							<!--begin::Wrapper-->
							<div class="card-px text-center py-20 my-10">
								<!--begin::Title-->
								<h2 class="fs-2x fw-bolder mb-10">مرحباً بك في فريق معاً الإغاثي</h2>
								<!--end::Title-->
								<!--begin::Description-->
								<p class="text-gray-400 fs-4 fw-bold mb-10">نرجوا تعبئة النموذج بحالتك الطارئة
									لنتمكن من مساعدتك بأسرع وقت
								</p>
								<!--end::Description-->
								<!--begin::Action-->
								<a href="#" class="btn btn-primary" data-bs-toggle="modal"
									data-bs-target="#kt_modal_add_report">تقديم بلاغ</a>
								<!--end::Action-->
							</div>
							<!--end::Wrapper-->
						
						</div>
						<!--end::Card body-->
					</div>
					<!--end::Card-->
					<div class="card my-5 mb-xl-10 m-5 align-items-center">
						<div class="card-body pt-9 pb-0 map rounded"   style="border:0;width: 80%;height: 400px;" id="map">
							
					
						</div>
					</div>
					<!--begin::Modals-->



					<!--begin::Modal - Customers - Add-->
					<div class="modal fade" id="kt_modal_add_report" tabindex="-1" aria-hidden="true">
						<!--begin::Modal dialog-->
						<div class="modal-dialog modal-dialog-centered mw-650px">
							<!--begin::Modal content-->
							<div class="modal-content">
								<!--begin::Form-->
								<form class="form fv-plugins-bootstrap5 fv-plugins-framework" action="#"
									id="kt_modal_add_report_form"
									data-kt-redirect="/metronic8/demo20/../demo20/apps/customers/list.html" autocomplete="off" >
									<!--begin::Modal header-->
									<div class="modal-header" id="kt_modal_add_report_header">
										<!--begin::Modal title-->
										<h2 class="fw-bolder">بلاغ جديد</h2>
										<!--end::Modal title-->
										<!--begin::Close-->
										<div id="kt_modal_add_report_close"
											class="btn btn-icon btn-sm btn-active-icon-primary">
											<!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
											<span class="svg-icon svg-icon-1">
												<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
													viewBox="0 0 24 24" fill="none">
													<rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1"
														transform="rotate(-45 6 17.3137)" fill="black"></rect>
													<rect x="7.41422" y="6" width="16" height="2" rx="1"
														transform="rotate(45 7.41422 6)" fill="black"></rect>
												</svg>
											</span>
											<!--end::Svg Icon-->
										</div>
										<!--end::Close-->
									</div>
									<!--end::Modal header-->
									<!--begin::Modal body-->
									<div class="modal-body py-10 px-lg-17">
										<!--begin::Scroll-->
										<div class="scroll-y me-n7 pe-7" id="kt_modal_add_report_scroll"
											data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}"
											data-kt-scroll-max-height="auto"
											data-kt-scroll-dependencies="#kt_modal_add_report_header"
											data-kt-scroll-wrappers="#kt_modal_add_report_scroll"
											data-kt-scroll-offset="300px" style="max-height: 661px;">
											
											<!--begin::Input group-->
											<div class="fv-row mb-7 fv-plugins-icon-container">
												<!--begin::Label-->
												<label class="required fs-6 fw-bold mb-2">الاسم رباعي</label>
												<!--end::Label-->
												<!--begin::Input-->
												<input type="text" class="form-control form-control-solid"
													placeholder="الاسم رباعي" name="fullName">
												<!--end::Input-->
												<div class="fv-plugins-message-container invalid-feedback"></div>
											</div>
											<!--end::Input group-->
										
											<!--begin::Input group-->
											<div class="fv-row mb-7 fv-plugins-icon-container">
												<!--begin::Label-->
												<label class="fs-6 fw-bold mb-2">
													<span class="required">رقم الجوال</span>
													<i class="fas fa-exclamation-circle ms-1 fs-7"
														data-bs-toggle="tooltip" title=""
														data-bs-original-title="الرجاء إدخال رقم جوال صالح."
														aria-label="الرجاء إدخال رقم جوال صالح"></i>
												</label>
												<!--end::Label-->
												<!--begin::Input-->
												<input type="text" class="form-control form-control-solid"
													placeholder="05(6|9)xxxxxxx" name="phoneNumber" style="direction: ltr;">
												<!--end::Input-->
												<div class="fv-plugins-message-container invalid-feedback"></div>
											</div>
											<!--end::Input group-->

											<!--begin::Input group-->
											<div class="fv-row mb-7 fv-plugins-icon-container">
												<!--begin::Label-->
												<label class="fs-6 fw-bold mb-2">
													<span class="required">تاريخ الميلاد</span>
													
												</label>
												<!--end::Label-->
												<!--begin::Input-->
												<input type="text" class="form-control form-control-solid"
													placeholder="تاريخ الميلاد" name="birthDate" id="birthDate">
												<!--end::Input-->
												<div class="fv-plugins-message-container invalid-feedback"></div>
											</div>
											<!--end::Input group-->

											<!--begin::Input group-->
											<div class="fv-row mb-7 fv-plugins-icon-container">
												<!--begin::Label-->
												<label class="fs-6 fw-bold mb-2">
													<span class="required">المدينة</span>
												</label>
												<!--end::Label-->
												<!--begin::Input-->
												<select name="city" data-hide-search="true" aria-label="أختر المدينة"
													data-control="select2" data-placeholder="أختر المدينة"
													data-dropdown-parent="#kt_modal_add_report"
													class="form-select form-select-solid fw-bolder">
													<option value="0">بيت حانون</option>
													<option value="1">بيت لاهيا</option>
													<option value="2">جباليا</option>
													<option value="3">النصيرات</option>
													<option value="4">دير البلح</option>
													<option value="5">البريج</option>
													<option value="6">المغازي</option>
													<option value="7">خانيونس</option>
													<option value="8">رفح</option>
												</select>
												<!--end::Input-->
												<div class="fv-plugins-message-container invalid-feedback"></div>
											</div>
											<!--end::Input group-->

											<!--begin::Input group-->
											<div class="fv-row mb-7 fv-plugins-icon-container">
												<!--begin::Label-->
												<label class="fs-6 fw-bold mb-2">
													<span class="required">الحي</span>
												</label>
												<!--end::Label-->
												<!--begin::Input-->
												<input type="text" class="form-control form-control-solid"
													placeholder="الحي" name="region">
												<!--end::Input-->
												<div class="fv-plugins-message-container invalid-feedback"></div>
											</div>
											<!--end::Input group-->
											<!--begin::Input group-->
											<div class="fv-row mb-7 fv-plugins-icon-container">
												<!--begin::Label-->
												<label class="fs-6 fw-bold mb-2">
													<span class="required">نوع الحالة الطارئة</span>
												</label>
												<!--end::Label-->
												<!--begin::Input-->
												<select name="type" aria-label="اختر نوع الحالة الطارئة" data-hide-search="true"
													data-control="select2" data-placeholder="أختر نوع الحالة الطارئة."
													data-dropdown-parent="#kt_modal_add_report"
													class="form-select form-select-solid fw-bolder">
													<option value="0">إغاثة طبية</option>
													<option value="1">إغاثة نقدية</option>
													<option value="2">طرود غذائية</option>
													<option value="3">طرود نظافة</option>
													<option value="4">مأوى مؤقت</option>
												</select>
												<!--end::Input-->
												<div class="fv-plugins-message-container invalid-feedback"></div>
											</div>
											<!--end::Input group-->

												<!--begin::Input group-->
												<div class="fv-row mb-7 fv-plugins-icon-container">
													<!--begin::Label-->
													<label class="fs-6 fw-bold mb-2">
														<span class="required">وصف الحالة الطارئة</span>
													</label>
													<!--end::Label-->
													<!--begin::Input-->
													<textarea type="text" class="form-control form-control-solid"
														placeholder="وصف الحالة." name="description"></textarea>

													<!--end::Input-->
													<div class="fv-plugins-message-container invalid-feedback"></div>
												</div>
												<!--end::Input group-->
												<div class="fv-row mb-7 fv-plugins-icon-container">
													<!--begin::Label-->
													<label class="required fs-6 fw-bold mb-4">ارفاق الصور</label>
													<!--end::Label-->
													<!--begin::Input-->
													<input type="file" id="image" class="filepond" name="image"
														 data-allow-reorder="true" data-max-file-size="6MB"
														data-max-files="1">
	
													<!--end::Input-->
													<div class="fv-plugins-message-container invalid-feedback"></div>
												</div>

										</div>
										<!--end::Scroll-->
									</div>
									<!--end::Modal body-->
									<!--begin::Modal footer-->
									<div class="modal-footer flex-center">
										<!--begin::Button-->
										<button type="reset" id="kt_modal_add_report_cancel"
											class="btn btn-light me-3">إلغاء</button>
										<!--end::Button-->
										<!--begin::Button-->
										<button type="submit" id="kt_modal_add_report_submit" class="btn btn-primary">
											<span class="indicator-label">حفظ</span>
											<span class="indicator-progress">الرجاء الإنتظار ...
												<span
													class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
										</button>
										<!--end::Button-->
									</div>
									<!--end::Modal footer-->
									<div></div>
								</form>
								<!--end::Form-->
							</div>
						</div>
					</div>
					<!--end::Modal - Customers - Add-->
					<!--end::Modals-->
				</div>
				<!--begin::Footer-->
				<div class="d-flex flex-center flex-wrap fs-6 p-5 pb-0">
					<!--begin::Links-->
					<div class="d-flex flex-center fw-bold fs-6">

						<a href="#" class="text-muted text-hover-primary px-2">الدعم الفني</a>

					</div>
					<!--end::Links-->
				</div>
				<!--end::Footer-->
			</div>
			<!--end::Body-->
		</div>
		<!--end::Authentication - Sign-in-->
	</div>
	<!--end::Main-->
	<!--begin::Javascript-->
	<!--begin::Global Javascript Bundle(used by all pages)-->
	<script src="/assets/plugins/global/plugins.bundle.js"></script>
	<script src="/assets/js/scripts.bundle.js"></script>
	<!--end::Global Javascript Bundle-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkK32TVJD_LBQfXB_xiWpm0P0YzLeaoPc&callback=initMap"></script>

	<!--begin::Page Custom Javascript(used by this page)-->
	<script src="/assets/js/myScripts/report/new.js"></script>
	<!--end::Page Custom Javascript-->
	
    <script src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
	<script src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.js"></script>

    <script src="https://unpkg.com/filepond/dist/filepond.js"></script>
	<!--end::Javascript-->
</body>
<!--end::Body-->

</html>